<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hadoop="http://www.springframework.org/schema/hadoop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">

    <hadoop:configuration id="hadoopConfiguration" resources="classpath:hbase-site.xml"/>
    <hadoop:hbase-configuration id="hbaseConfiguration" configuration-ref="hadoopConfiguration"
                                delete-connection="false"/>
    <bean id="hbaseTemplate" class="org.springframework.data.hadoop.hbase.HbaseTemplate">
        <property name="configuration" ref="hbaseConfiguration"/>
    </bean>
</beans>